:root {
  --color-cinza: #f7f7f7;
  --cinza-escuro: #c6c6c6;
  --vermelho: #ee2211;
  --font-family: Arial;
  --font-size-paragrafos: 20px;
  --font-size-vantagens-bikecraft: 64px;
  --width-main: 1000px;
}